body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(44, 204, 204);
}

.container{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    width: 50%;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: 1px solid grey;
    position: relative;
}

.logo{
    margin-left: 5rem;
}

.title-logo{
    display: flex;
    justify-items: center;
}

main{
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    margin-top: -45px;
}

.container-product{
    display:grid;
    grid-template-columns: 1fr 6fr 6fr;
    gap: 20px;
    width: 100%;
}

.product-views{
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    margin-top: 100px;
    margin-left: 20px;
}

.product-views div {
    height: 10rem;
    border: 1px solid black;
}

.main-product{
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: auto;
    width: fit-content;
    margin-top: 100px;
}

img{
    height: 50%;
    object-fit: cover;
    object-position: center center;
}

.details-product{
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    width: 40%;
    margin-top: 100px;
    margin-right: 2rem;
    gap: 20px;
}

h2{
    margin-block-start: 0em;
}

.price-title{
    display: grid;
    grid-area: 2 / 1 / 3 / 1;
}

.price-value{
    font-size: 30px;
}

.size-title{
    display: grid;
    grid-area: 3 / 1 / 4 / 1;
}

.size-select select{
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid black;
}

.color-title{
    display: grid;
    grid-area: 4 / 1 / 5 / 1;
}


.details-product > * {
    font-weight: bold;
}

select {
    height: 3rem;
    width: 15rem;
}

button {
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 4px;
    background-color: black;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    border: 1px solid grey;
}

